<app-collapsible [toggle$]="_toggle$" [collapse$]="_collapse$"
  (toggled)="_toggled$.next($event)">
  <ng-container itemContent>
    <button class="btn btn-link btn-slim" (click)="_toggle$.next()">
      {{basename(dir)}}
    </button>
    <div *ngIf="allowEdits"
      class="d-inline"
      [class.invisible]="collapsed"
      afterItemName>
      <button class="btn btn-link btn-slim" (click)="newFile()"
        data-toggle="tooltip" title="New File">
        +<img src="public/open-iconic/svg/file.svg">
      </button>
      <button class="btn btn-link btn-slim" (click)="newDir()"
        data-toggle="tooltip" title="New Directory">
        +<img src="public/open-iconic/svg/folder.svg">
      </button>
      <button class="btn btn-link btn-slim" (click)="showRenameModal$.next()"
        data-toggle="tooltip" title="Rename Directory">
        <img src="public/open-iconic/svg/pencil.svg">
      </button>
      <button class="btn btn-link btn-slim" (click)="deleteDir()"
        data-toggle="tootip" title="Delete Directory">
        <img src="public/open-iconic/svg/trash.svg">
      </button>
    </div>
  </ng-container>
  <div class="container-fluid" *ngIf="tree$ | async as tree" subList>
    <app-dir-view *ngFor="let subdir of tree.subdirs"
      [collapse$]="collapse$"
      [dir]="fullPath(subdir)"
      [repo]="repo"
      [allowEdits]="allowEdits"
      (fileSelected$)="_fileSelected$.next($event)"
      (dirRenamed$)="subRenamed($event)"
      (dirDeleted$)="subDeleted($event)">
    </app-dir-view>
    <li class="row direntry"
      *ngFor="let file of tree.files"
      [class.modified]="tree.isModified[file]"
      [class.added]="tree.isAdded[file]"
      [class.deleted]="tree.isDeleted[file]"
      (click)="selectFile(file)">
      {{tree.displayNames[file]}}
    </li>
  </div>
</app-collapsible>

<app-modal [title]="'Rename Directory'" [show$]="showRenameModal$"
  [hide$]=hideRenameModal$>
  <div class="container-fluid" body>
    <div class="row">
      <div class="col-3">
        <label>New Name:</label>
      </div>
      <div class="col-9">
        <input type="text" [(ngModel)]="newName" />
      </div>
    </div>
  </div>
  <ng-container footer>
    <button class="btn btn-primary" (click)="renameDir()">Rename</button>
  </ng-container>
</app-modal>