<app-query [title]="'Problem Query'" [problems$]="problems$" (removeProblem$)="removeProblem($event)" #queryComponent>
  <p>
    Select a topic and a subtopic below to form a query.
    Optionally you can add tags to narrow the results.
  </p>
  <button class="btn btn-primary" (click)="getProblems()" [disabled]="queryButtonDisabled()">Get Problems</button>
  <nav class="d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
        <h4>Topics</h4>
        <app-simple-collapsible *ngFor="let topic of topics$ | async"
            [itemName]="topic"
            (toggled)="toggle(topic)">
          <h5>Subtopics</h5>
          <app-simple-collapsible *ngFor="let subtopic of getSubtopics(topic) | async"
              [itemName]="subtopic"
              (toggled)="toggle(topic, subtopic)">
              <span class="font-weight-bold">Tags</span>
            <app-simple-collapsible *ngFor="let tag of getTags(topic, subtopic) | async"
              [itemName]="tag.key"
              (toggled)="toggle(topic, subtopic, tag.key)">
              <span class="font-weight-bold">Tag Values</span>
              <li *ngFor="let value of tag.values">
                <div>
                  <label class="mr-1">{{value}}</label>
                  <input type="checkbox" (click)="toggle(topic, subtopic, tag.key, value)" />
                </div>
              </li>
            </app-simple-collapsible>
          </app-simple-collapsible>
        </app-simple-collapsible>
      </ul>
    </div>
  </nav>
</app-query>
