<app-query [title]="'Problem Query'" [problems$]="problems$" (removeProblem$)="removeProblem($event)" #queryComponent>
  <p>
    Select a topic and a subtopic below to form a query.
    Optionally you can add tags to narrow the results.
  </p>
  <button class="btn btn-primary" (click)="getProblems()" disabled #queryButton>Get Problems</button>
  <nav class="d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
      <ul class="nav flex-column" *ngIf="problemIndex">
        <h4>Topics</h4>
        <app-collapsible  *ngFor="let topic of problemIndex.index | keyvalue"
            [itemName]="topic.key"
            (toggled)="toggle(topic.key)">
          <h5>Subtopics</h5>
          <app-collapsible *ngFor="let subtopic of topic.value | keyvalue"
              [itemName]="subtopic.key"
              (toggled)="toggle(topic.key, subtopic.key)">
              <span class="font-weight-bold">Tags</span>
            <app-collapsible *ngFor="let tag of subtopic.value.tags | keyvalue"
              [itemName]="tag.key"
              (toggled)="toggle(topic.key, subtopic.key, tag.key)">
              <span  class="font-weight-bold">Tag Values</span>
              <li *ngFor="let value of tag.value | keyvalue">
                <div>
                  <label class="mr-1">{{value.key}}</label>
                  <input type="checkbox" (click)="toggle(topic.key, subtopic.key, tag.key, value.key)" />
                </div>
              </li>
            </app-collapsible>
          </app-collapsible>
        </app-collapsible>
      </ul>
    </div>
  </nav>
</app-query>
