<ng-container *ngIf="problem$ | async as prob">

  <ng-container *ngIf="!(editMode$ | async); else editorContainer">
    <div class="row justify-content-between">
      <div class="col-4">
        <ng-content></ng-content>
      </div>
      <div class="col-2" *ngIf="remoteUserService.remoteUser.canEdit()">
        <button class="btn btn-primary" (click)="showEditor()">Edit</button>
      </div>
    </div>
    <div class="row">
      <span class="col-1 font-weight-bold">ID: </span>
      <span class="col-11" *ngIf="prob.idStr; else noId">{{prob.idStr}}</span>
      <ng-template #noId>(not assigned)</ng-template>
    </div>
    <div class="row">
      <span class="col-1 font-weight-bold">Tags: </span>
      <span class="col-11">{{prob.formatTags()}}</span>
    </div>
    <div class="row">
      <div *ngIf="isStatic(prob); else dynamicContent">{{cleanContent(prob.content)}}</div>
      <ng-template #dynamicContent><pre>{{prob.content}}</pre></ng-template>
    </div>
  </ng-container>

  <ng-template #editorContainer>
      <div class="row justify-content-between">
        <div class="col">
          <button class="btn btn-primary" (click)="saveChanges()">Save</button>
        </div>
        <div class="col-2">
          <button class="btn btn-danger" (click)="showConfirmModal()">Delete</button>
        </div>
        <div class="col-2">
          <button class="btn btn-secondary" (click)="cancelChanges()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <span class="col-1 font-weight-bold">ID: </span>
        <span class="col-11" *ngIf="prob.idStr; else noId">{{prob.idStr}}</span>
        <ng-template #noId>(not assigned)</ng-template>
      </div>
      <div class="row">
        <span class="col-1 font-weight-bold">Tags: </span>
        <input class="col-11" value="{{prob.formatTags()}}" #newTagsInput />
      </div>
      <div class="row">
        <angular-monaco-editor class="col customMonacoEditor" [options]="editorOptions"
                                [(ngModel)]="prob.content" (onInit)="onEditorInit($event)" #codeInput>
        </angular-monaco-editor>
      </div>
  </ng-template>
</ng-container>


<app-modal [title]="'Confirm Deletion'" #confirmModal>
  <ng-container body>
    This action cannot be undone.
    Are you sure you want to delete this problem?
  </ng-container>
  <ng-container footer>
    <button class="btn btn-danger" (click)="deleteProblem()">Confirm</button>
  </ng-container>
</app-modal>