<ng-container *ngIf="!(editMode$ | async); else editorContainer">
  <div class="row">
    <span class="font-weight-bold">ID: </span>
    <span *ngIf="problem.idStr; else noId">{{problem.idStr}}</span>
    <ng-template #noId>(not assigned)</ng-template>
  </div>
  <div class="row">
    <span class="font-weight-bold">Tags: </span>
    <span>{{problem.formatTags()}}</span>
  </div>
  <div class="row">
    {{problem.content}}
  </div>
  <div class="row justify-content-between">
    <div class="col-4">
      <ng-content></ng-content>
    </div>
    <div class="col-2">
      <button class="btn btn-primary" (click)="showEditor()">Edit</button>
    </div>
  </div>
</ng-container>

<ng-template #editorContainer>
    <div class="row">
      <angular-monaco-editor class="col customMonacoEditor" [options]="editorOptions"
                              [(ngModel)]="problem.content" (onInit)="onEditorInit($event)" #codeInput>
      </angular-monaco-editor>
    </div>
    <div class="row justify-content-between">
      <div class="col-2">
        <button class="btn btn-primary" (click)="saveChanges()">Save</button>
      </div>
      <div class="col-2">
        <button class="btn btn-danger" (click)="cancelChanges()">Cancel</button>
      </div>
    </div>
</ng-template>