<div class="container-fluid">
  <div class="row">

    <nav class="col-md-3 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column" *ngIf="problemIndex">

          <li *ngFor="let topicPair of problemIndex.index | keyvalue">
            <h4 (click)="toggleCollapsed(topicId(topicPair.key))"
                (click)="toggle(topicPair.key)">
                {{topicPair.key}}
            </h4>
            <ul class="collapse nav flex-column" id="{{topicId(topicPair.key)}}">

              <li *ngFor="let subtopicPair of topicPair.value | keyvalue">
                <div (click)="toggleCollapsed(subtopicId(topicPair.key, subtopicPair.key))"
                     (click)="toggle(topicPair.key, subtopicPair.key)">
                  {{subtopicPair.key}}
                </div>
                <ul class="collapse" id="{{subtopicId(topicPair.key, subtopicPair.key)}}">

                  <li *ngFor="let tagPair of subtopicPair.value.tags | keyvalue">
                    <div (click)="toggleCollapsed(tagKeyId(topicPair.key, subtopicPair.key, tagPair.key))"
                         (click)="toggle(topicPair.key, subtopicPair.key, tagPair.key)">
                      {{tagPair.key}}
                    </div>
                    <ul class="collapse" id="{{tagKeyId(topicPair.key, subtopicPair.key, tagPair.key)}}">

                      <li *ngFor="let valuePair of tagPair.value | keyvalue">
                        <label class="mr-1">{{valuePair.key}}</label>
                        <input type="checkbox"
                               (click)="toggle(topicPair.key, subtopicPair.key, tagPair.key, valuePair.key)">
                      </li>

                    </ul>
                  </li>

                </ul>
              </li>

            </ul>
          </li>

        </ul>
      </div>
      <button class="btn btn-primary" (click)="getProblems()">Get Problems</button>
    </nav>

    <div class="col-md-9" #instanceDiv>
      <div *ngIf="instances.length > 0">
        <div *ngFor="let instance of instances">
          <div>{{instance.content}}</div>
          <label class="mr-1">Include:</label>
          <input type="checkbox" />
          <hr>
        </div>
      </div>
    </div>

    <div class="col-md-9" *ngIf="problems.length > 0">
      <div *ngFor="let problem of problems">
        <div>{{problem.formatTags()}}<div>
        <pre>{{problem.content}}</pre>
        <button class="btn btn-primary" (click)="getInstances(problem._id)">
          Get Instances
        </button>
        <hr>
      </div>
    </div>

  </div>
</div>


