<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column" *ngIf="problemIndex$ | async as problemIndex">
          <li class="nav-item" *ngFor="let topic of problemIndex.index | keyvalue">
            <h3>{{topic.key}}</h3>
            <ul class="nav flex-column">
              <li class="nav-item" *ngFor="let subtopic of topic.value | keyvalue">
                <a>{{subtopic.key}}</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>


