extends layout

block content
  h1= title
  app-root
  script(src='/banx-app/runtime.js')
  script(src='/banx-app/es2015-polyfills.js')
  script(src='/banx-app/polyfills.js')
  script(src='/banx-app/styles.js')
  script(src='/banx-app/vendor.js')
  script(src='/banx-app/main.js')
