doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title= title
    base(href="/")
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="/bootstrap/css/bootstrap.min.css")
  body
    nav(class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow")
      a(class="navbar-branc col-sm-3 col-md-2 mr-0" href="#") Banx
    block content
    script(src="/jquery/jquery.slim.min.js")
    //script(src="/popper.js/popper.js")
    script(src="/bootstrap/js/bootstrap.min.js")
    block scripts
