<div class="row pad-top">
  <h3 class="col">Problem Query</h3>
  <div class="col text-center">
    <span class="font-weight-bold">Selected Problem Instances: </span><span>{{this.instanceService.instances.length}}</span>
  </div>
  <div class="col text-right">
    <a class="btn btn-link" [class.disabled]="this.instanceService.instances.length == 0"
       routerLink="../instances" routerLinkActive="active">
      Review and Submit Selection
    </a>
  </div>
</div>

<div class="row">

  <div class="col-md-3">
    <p>
      Select a topic and a subtopic below to form a query.
      Optionally you can add tags to narrow the results.
    </p>
    <nav class="d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column" *ngIf="problemIndex">
          <h4>Topics</h4>
          <app-collapsible  *ngFor="let topic of problemIndex.index | keyvalue"
              [itemName]="topic.key"
              (toggled)="toggle(topic.key)">
            <h5>Subtopics</h5>
            <app-collapsible *ngFor="let subtopic of topic.value | keyvalue"
                [itemName]="subtopic.key"
                (toggled)="toggle(topic.key, subtopic.key)">
                <span class="font-weight-bold">Tags</span>
              <app-collapsible *ngFor="let tag of subtopic.value.tags | keyvalue"
                [itemName]="tag.key"
                (toggled)="toggle(topic.key, subtopic.key, tag.key)">
                <span  class="font-weight-bold">Tag Values</span>
                <li *ngFor="let value of tag.value | keyvalue">
                  <div>
                    <label class="mr-1">{{value.key}}</label>
                    <input type="checkbox" (click)="toggle(topic.key, subtopic.key, tag.key, value.key)" />
                  </div>
                </li>
              </app-collapsible>
            </app-collapsible>
          </app-collapsible>
        </ul>
      </div>
      <button class="btn btn-primary" (click)="getProblems()" disabled #queryButton>Get Problems</button>
    </nav>
    <div class="invisible" #resultCounter>
      <span class="font-weight-bold">Problems Found: </span>
      <span>{{problems.length}}</span>
    </div>
  </div>

  <div class="col-md-9">
    <ng-container *ngIf="problems.length > 0; then problemsList; else instancesList"></ng-container>

    <ng-template #problemsList>
      <div *ngFor="let problem of problems">
        <div>{{problem.formatTags()}}</div>
        <pre>{{problem.content}}</pre>
        <button class="btn btn-secondary" (click)="getInstances(problem._id)">
          Get Instances
        </button>
        <hr>
      </div>
    </ng-template>

    <ng-template #instancesList>
      <div *ngFor="let instance of instances">
        <pre>{{instance.content}}</pre>
        <button class="btn btn-secondary" (click)="selectInstance(instance)">Include</button>
        <hr>
      </div>
    </ng-template>
  </div>

</div>


