<div class="row">
  <div class="col-4">
    <div class="container-fluid">
      <h3 class="row"></h3>
      <ul *ngIf="repos$ | async as repos">
        <app-dir-view class="row" *ngFor="let repo of repos"
          [dir]="repo.dir" [refresh$]="repo.refreshed$"
          [collapse$]="collapseAllExcept$"
          (fileSelected$)="selectedFile$.next($event)"
          (toggled$)="toggleRepo(repo, $event)">
        </app-dir-view>
      </ul>
    </div>
  </div>

  <div class="col-8">
    <div class="container-fluid">
      <div *ngIf="selectedRepo" class="row">
        <h3 class="col">{{selectedRepo.name}}</h3>
        <div class="col d-flex flex-row-reverse">
          <button class="btn btn-primary" (click)="saveToServer()">
            Save to Server
          </button>
        </div>
      </div>
      <ng-container *ngIf="selectedFile$ | async as selectedFile; else noFile">
        <div class="row">{{selectedFile}}:</div>
        <div class="row">
          <angular-monaco-editor class="editor" [options]="editorOptions" [(ngModel)]="editorText">
          </angular-monaco-editor>
        </div>
        <div class="row">
          <div class="col">
            <button class="btn btn-primary" (click)="saveEdits()">Save</button>
          </div>
          <div class="col">
            <button class="btn btn-secondary" (click)="showRenameModal()">Rename</button>
          </div>
          <div class="col">
            <button class="btn btn-danger" (click)="deleteSelectedFile()">Delete</button>
          </div>
        </div>
      </ng-container>
      <ng-template #noFile>
        <div class="row">No file selected.</div>
      </ng-template>
    </div>
  </div>
</div>

<app-modal [title]="'Rename'" [show$]="showRenameModal$"
  [hide$]="hideRenameModal$">
  <ng-container body>
    <label>New Name:</label>
    <input type="text" [(ngModel)]="newName">
  </ng-container>
  <ng-container footer>
    <button class="btn btn-primary" (click)="rename()">Rename</button>
  </ng-container>
</app-modal>