<div class="row">
  <div class="col-4">
    <div class="container-fluid">
      <div class="row">
        <button class="btn btn-primary" (click)="showNewCourseModal$.next()">
          New Course
        </button>
      </div>
      <h3 class="row">Courses:</h3>
      <ul *ngIf="repos$ | async as repos">
        <app-dir-view class="row" *ngFor="let repo of repos"
          [dir]="repo.dir"
          [collapse$]="collapseAllExcept$"
          [repo]="repo"
          (fileSelected$)="selectedFile$.next($event)"
          (toggled$)="toggleRepo(repo, $event)"
          (dirRenamed$)="dirRenamed(repo, $event)"
          (dirDeleted$)="dirDeleted(repo, $event)">
        </app-dir-view>
      </ul>
    </div>
  </div>

  <div class="col-8">
    <div class="container-fluid">
      <div *ngIf="selectedRepo$ | async as selectedRepo" class="row">
        <h3 class="col">{{displayName(selectedRepo)}}</h3>
        <div class="col d-flex flex-row-reverse">
          <button class="btn btn-primary" (click)="commit()">
            Commit
          </button>
          <button class="btn btn-danger" (click)="checkout()">
            Checkout
          </button>
        </div>
      </div>
      <ng-container *ngIf="selectedFile$ | async as selectedFile; else noFile">
        <div class="row">
          <div class="col">
            {{selectedFile}}:
          </div>
          <div class="col d-flex flex-row-reverse">
            <button class="btn btn-primary" (click)="saveEdits()">
              Save
            </button>
            <button class="btn btn-secondary" (click)="showRenameModal()">
              Rename
            </button>
            <button class="btn btn-danger" (click)="deleteSelectedFile()">
              Delete
            </button>
          </div>
        </div>
        <div class="row">
          <angular-monaco-editor class="editor"
            [options]="editorOptions"
            [(ngModel)]="editorText">
          </angular-monaco-editor>
        </div>
        <div class="row">
          <div class="col">
          </div>
          <div class="col">
          </div>
          <div class="col">
          </div>
        </div>
      </ng-container>
      <ng-template #noFile>
        <div class="row">No file selected.</div>
      </ng-template>
    </div>
  </div>
</div>

<app-modal [title]="'Rename'"
  [show$]="showRenameModal$"
  [hide$]="hideRenameModal$">
  <div class="container-fluid" body>
    <div class="row">
      <div class="col-3">
        <label>New Name:</label>
      </div>
      <div class="col-9">
        <input type="text" [(ngModel)]="newName">
      </div>
    </div>
  </div>
  <ng-container footer>
    <button class="btn btn-primary" (click)="renameFile()">Rename</button>
  </ng-container>
</app-modal>

<app-modal [title]="'New Course'"
  [show$]="showNewCourseModal$"
  [hide$]="hideNewCourseModal$">
  <div class="container-fluid" body>
    <div class="row">
      <div class="col-3">
        <label>Course Name:</label>
      </div>
      <div class="col-9">
        <input type="text" [(ngModel)]="newCourseName">
      </div>
    </div>
  </div>
  <ng-container footer>
    <button class="btn btn-primary" (click)="newCourse()">Create Course</button>
  </ng-container>
</app-modal>