<div>
  <button class="btn btn-secondary" (click)="showModal()">
    <img src="public/open-iconic/svg/menu.svg" alt="menu">
    Notifications
  </button>
</div>

<app-modal [title]="'Notifications'" #notificationsModal>
  <ng-container body *ngIf="notifications$ | async as notifications">
    <div *ngIf="notifications.length > 0; else noNotifications">
        <app-notification-view *ngFor="let notification of notifications"
                               [notification$]="makeObservable(notification)">
        </app-notification-view>
    </div>
    <ng-template #noNotifications>
      <span>No notifications.</span>
    </ng-template>
  </ng-container>
</app-modal>

<div class="notification-area" #notifications>
  <app-notification-view [notification$]="displayedNotification$"></app-notification-view>
</div>