.notification-area {
    display: none;
    position: fixed;
    bottom: 30px;
    left: 40vw;
    z-index: 1;
    background: white;
    border-style: solid;
    border-radius: 5px;
    border-color: #007bff;
    padding: 5px;
}