extends layout

block content
  app-root

block styles
  if styleFile
    link(rel="stylesheet", href=styleFile)

block scripts
  script const topics = !{topicsStr}; const remoteUser = !{remoteUser};
  script.
    // Workarounds (ugly hacks) for including Buffer in the angular
    // polyfills.
    if (undefined === global) var global = window;
    if (undefined === process) var process = {};
  script(src="./public/mathjax/MathJax.js?config=TeX-MML-AM_CHTML")
  script(type="text/x-mathjax-config") MathJax.Hub.Config({ tex2jax: {inlineMath: [ ['$', '$'], ['\\(', '\\)'] ]} })
  each jsFile in jsFiles
    script(src=jsFile)