doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title= title
    link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="stylesheets/style.css")
    link(rel="stylesheet", href="bootstrap/css/bootstrap.min.css")
  body
    nav(class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow")
      h4(class="navbar-branc col-sm-3 col-md-2 mr-0 blue-text")
        a(href="/banx") Banx
      p(class="blue-text") Logged in as #{userGlid}
      h4
        a(href="/Shibboleth.sso/Logout" style="padding-right:20px;") Logout
    block content
    script(src="jquery/jquery.slim.min.js")
    script(src="popper.js/popper.js")
    script(src="bootstrap/js/bootstrap.min.js")
    block scripts
