doctype html
html(lang="en")
  head
    base(href=baseHref target="_self")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title= title
    link(rel="shortcut icon", href="./public/favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="./public/stylesheets/style.css")
    link(rel="stylesheet", href="./public/bootstrap/css/bootstrap.min.css")
  body
    div(class="pad-bottom")
      h1(class="inline") Ban&chi; 
      h4(class="inline") Problem Management System
    block content
    script(src="./public/jquery/jquery.slim.min.js")
    script(src="./public/popper.js/popper.js")
    script(src="./public/bootstrap/js/bootstrap.min.js")
    block scripts
