body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul {
    list-style-type: none;
    padding-left: 20px;
}

.blue-text {
  color: #007bff;
}

.pad-top {
  padding-top: 10px;
}

.pad-bottom {
  padding-bottom: 10px;
}

.margin-right {
  margin-right: 5px;
}