
  <div>
    <img class="notification-icon notification-image" src="public/open-iconic/svg/x.svg" alt="error" #errorIcon>
    <img class="notification-icon notification-image" src="public/open-iconic/svg/warning.svg" alt="warning" #warningIcon>
    <img class="notification-icon notification-image" src="public/open-iconic/svg/check.svg" alt="success" #successIcon>
    <img class="notification-icon notification-image" src="public/open-iconic/svg/info.svg" alt="info" #infoIcon>
    <span class="spinner-border spinner-border-sm notification-icon" #loadingIcon></span>
    <span style="margin-left:10px;" #messageSpan></span>
  </div>