<div class="container-fluid">

  <ng-container *ngIf="instancesShown; then selectedInstancesInterface; else mainInterface"></ng-container>

  <ng-template #selectedInstancesInterface>
    <div class="row">
      <div class="col-md-2">
        <button class="btn btn-primary" (click)="instancesShown = false">
          Back
        </button>
      </div>
      <div class="offset-md-8 col-md-2">
        <button class="btn btn-primary" (click)="submit()">
          Submit
        </button>
      </div>
    </div>
    <app-instance-list
      [selectedInstances]="selectedInstances"
      (deselect)="deselectInstance($event)">
    </app-instance-list>
  </ng-template>

  <ng-template #mainInterface>
    <div class="row">
      <button class="btn btn-link" (click)="instancesShown = true">
        Selected Instances: {{selectedInstances.length}}
      </button>
    </div>

    <div class="row">

      <nav class="col-md-3 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column" *ngIf="problemIndex">
            <app-collapsible  *ngFor="let topic of problemIndex.index | keyvalue"
                [itemName]="topic.key"
                (toggled)="toggle(topic.key)">
              <app-collapsible *ngFor="let subtopic of topic.value | keyvalue"
                  [itemName]="subtopic.key"
                  (toggled)="toggle(topic.key, subtopic.key)">
                <app-collapsible *ngFor="let tag of subtopic.value.tags | keyvalue"
                  [itemName]="tag.key"
                  (toggled)="toggle(topic.key, subtopic.key, tag.key)">
                  <li *ngFor="let value of tag.value | keyvalue">
                    <label class="mr-1">{{value.key}}</label>
                    <input type="checkbox"
                      (click)="toggle(topic.key, subtopic.key, tag.key, value.key)" />
                  </li>
                </app-collapsible>
              </app-collapsible>
            </app-collapsible>
          </ul>
        </div>
        <button class="btn btn-primary" (click)="getProblems()">Get Problems</button>
      </nav>

      <div class="col-md-9">

        <ng-container *ngIf="problems.length > 0; then problemsList; else instancesList"></ng-container>

        <ng-template #problemsList>

          <div *ngFor="let problem of problems">
            <div>{{problem.formatTags()}}</div>
            <pre>{{problem.content}}</pre>
            <button class="btn btn-secondary" (click)="getInstances(problem._id)">
              Get Instances
            </button>
            <hr>
          </div>
        </ng-template>

        <ng-template #instancesList>
          <div *ngFor="let instance of instances">
            <pre>{{instance.content}}</pre>
            <button class="btn btn-secondary" (click)="selectInstance(instance)">Include</button>
            <hr>
          </div>
        </ng-template>
      </div>

    </div>
  </ng-template>
</div>


