<div class="container-fluid">
    <app-notification></app-notification>
    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link" routerLink="/problemquery" routerLinkActive="active">Problem Query</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/tagquery" routerLinkActive="active">Tag Query</a></li>
        <li *ngIf="remoteUser.canEdit()" class="nav-item"><a class="nav-link" routerLink="/authorproblems" routerLinkActive="active">Author Problems</a></li>
        <li *ngIf="remoteUser.canEdit()" class="nav-item"><a class="nav-link" routerLink="/uploadproblems" routerLinkActive="active">Upload Problems</a></li>
        <li *ngIf="remoteUser.canEdit()" class="nav-item"><a class="nav-link" routerLink="/sageshell" routerLinkActive="active">Sage Shell</a></li>
        <li *ngIf="remoteUser.isAdmin()" class="nav-item"><a class="nav-link"  routerLink="/admin" routerLinkActive="active">Admin Dashboard</a></li>
    </ul>
    <router-outlet></router-outlet>
</div>