<div class="row">
  <h3 class="col">Sage Shell</h3>
</div>
<div class="row">
  <p class="col">
    Enter sage code into the editor below and then click 'Execute'. The variables
    which are in scope at the end of the script will be displayed on the right.
    These are the varibles which can be referenced in your LaTeX code.
  </p>
</div>

<div class="row">
  <div class="col">
    <button class="btn btn-primary" (click)="execute()">Execute</button>
  </div>
</div>

<div class="row" style="height:60vh;">
  <div class="col">
    <!-- <angular-monaco-editor class="col customMonacoEditor" [options]="editorOptions" #codeInput>
    </angular-monaco-editor> -->
  </div>

  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody #resultTbody>
      </tbody>
    </table>
  </div>
</div>
